<ngx-spinner></ngx-spinner>

<section id="privacy-main">
    <h1 class="text-center">{{ 'privacy.main_title' | translate }}</h1>
    <h2>{{ 'privacy.main_subtitle' | translate }}</h2>
    <div class="text-section">
        <h3 class="text-uppercase">{{ 'privacy.section1' | translate }}</h3>
        <p>{{ 'privacy.p1' | translate }}</p>
        <h4>{{ 'privacy.subtitle1' | translate }}</h4>
        <p>{{ 'privacy.p2' | translate }}</p>
        <ul>
            <li>{{ 'privacy.li1' | translate }}</li>
            <li>{{ 'privacy.li2' | translate }}</li>
            <li>{{ 'privacy.li3' | translate }}</li>
            <li>{{ 'privacy.li4' | translate }}</li>
        </ul>
        <h4>{{ 'privacy.subtitle2' | translate }}</h4>
        <p>{{ 'privacy.p3' | translate }}</p>
        <p>{{ 'privacy.p4' | translate }}</p>
        <h4>{{ 'privacy.subtitle3' | translate }}</h4>
        <p>{{ 'privacy.p5' | translate }}</p>
        <h4>{{ 'privacy.subtitle4' | translate }}</h4>
        <p>{{ 'privacy.p6' | translate }}</p>
        <ul>
            <li>{{ 'privacy.li5' | translate }}</li>
            <li>{{ 'privacy.li6' | translate }}</li>
            <li>{{ 'privacy.li7' | translate }}</li>
            <li>{{ 'privacy.li8' | translate }}</li>
            <li>{{ 'privacy.li9' | translate }}</li>
            <li>{{ 'privacy.li10' | translate }}</li>
            <li>{{ 'privacy.li11' | translate }}</li>
        </ul>
        <h4>{{ 'privacy.subtitle5' | translate }}</h4>
        <p>{{ 'privacy.p7' | translate }}</p>
        <h4>{{ 'privacy.subtitle6' | translate }}</h4>
        <p>{{ 'privacy.p8' | translate }}</p>
        <p>{{ 'privacy.p9' | translate }}</p>
        <p>{{ 'privacy.p10' | translate }}</p>
        <h4>{{ 'privacy.subtitle7' | translate }}</h4>
        <p>{{ 'privacy.p11' | translate }}</p>
        <p>{{ 'privacy.p12' | translate }}</p>
        <p>{{ 'privacy.p13' | translate }}</p>
        <h4>{{ 'privacy.subtitle8' | translate }}</h4>
        <p>{{ 'privacy.p14' | translate }}</p>
        <p>{{ 'privacy.p15' | translate }}</p>
        <h4>{{ 'privacy.subtitle9' | translate }}</h4>
        <p>{{ 'privacy.p16' | translate }}</p>
        <p>{{ 'privacy.p17' | translate }}</p>
        <h4>{{ 'privacy.subtitle10' | translate }}</h4>
        <p>{{ 'privacy.p18' | translate }}</p>
        <h4>{{ 'privacy.subtitle11' | translate }}</h4>
        <p>{{ 'privacy.p19' | translate }}</p>
        <p>{{ 'privacy.p20' | translate }}</p>
        <p>{{ 'privacy.p21' | translate }}</p>
        <p>{{ 'privacy.p22' | translate }}</p>
        <h4>{{ 'privacy.subtitle12' | translate }}</h4>
        <p>{{ 'privacy.p23' | translate }}</p>
        <ul>
            <li>{{ 'privacy.li12' | translate }}</li>
            <li>{{ 'privacy.li13' | translate }}</li>
            <li>{{ 'privacy.li14' | translate }}</li>
            <li>{{ 'privacy.li15' | translate }}</li>
            <li>{{ 'privacy.li16' | translate }}</li>
            <li>{{ 'privacy.li17' | translate }}</li>
            <li>{{ 'privacy.li18' | translate }}</li>
        </ul>
        <p>{{ 'privacy.p24' | translate }}</p>
        <ul>
            <li>{{ 'privacy.li19' | translate }}</li>
            <li>{{ 'privacy.li20' | translate }}</li>
            <li>{{ 'privacy.li21' | translate }}</li>
            <li>{{ 'privacy.li22' | translate }}</li>
            <li>{{ 'privacy.li23' | translate }}</li>
        </ul>
        <p>{{ 'privacy.p25' | translate }}</p>
        <p>{{ 'privacy.p26' | translate }}</p>
        <h4>{{ 'privacy.subtitle13' | translate }}</h4>
        <p>{{ 'privacy.p27' | translate }}</p>
        <h4>{{ 'privacy.subtitle14' | translate }}</h4>
        <p>{{ 'privacy.p28' | translate }}</p>
    </div>
    <div class="text-section">
        <h3 class="text-uppercase">{{ 'privacy.section2' | translate }}</h3>
        <p>{{ 'privacy.p29' | translate }}</p>
        <p>{{ 'privacy.p30' | translate }}</p>
        <p>{{ 'privacy.p31' | translate }}</p>
    </div>
</section>