@import '../../../colors.scss';

.serveis-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: $bg-gradient;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.add-service-container {
  background: $container-bg;
  padding: 2.5rem;
  border-radius: 0.625rem;
  text-align: center;
  width: 30rem;
  backdrop-filter: blur(0.625rem);
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.125rem;
  color: $white;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.9375rem;
}

.form-label {
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
  color: $label-color;
  font-size: 0.875rem;
  font-weight: 400;
}

.input-control {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  background: $input-bg;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  clip-path: inset(0 round 0.3125rem);
}

textarea {
  width: 100%;
  height: auto;
  min-height: 40px;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  resize: none;
  outline: none;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #FFFFFF;
}

textarea::placeholder {
  color: #ffffff92;
}

input {
  flex: 1;
  border: none;
  background: transparent;
  color: $white;
  font-size: 0.875rem;
  line-height: 1.2;
  outline: none;
}

input::placeholder {
  color: $placeholder-color;
}

.input-control input:focus {
  box-shadow: 0 0 0.25rem $white;
}

.auth-btn, .delete-btn {
  width: 100%;
  padding: 0.625rem;
  background: transparent;
  border: 0.0625rem solid $btn-border;
  color: $white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.3125rem;
  transition: all 0.3s ease;
}

.auth-btn:hover {
  background: $btn-hover-bg;
}
.delete-btn {
  display: flex; /* Utilitza flexbox per alinear contingut */
  align-items: center; /* Centra verticalment l'icona i el text */
  justify-content: center; /* Centra el contingut dins del botó */
  color: #dc143c!important; /* Color del text */
  border: 2px solid #dc143c!important; /* Color del contorn */
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  gap: 8px; /* Espai entre l'icona i el text */
}

.role-selection select {
  width: 100%;
  padding: 0.625rem;
  border: 0.0625rem solid $btn-border;
  border-radius: 0.3125rem;
  background: $input-bg;
  color: #000;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}

.error {
  color: $error-color;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  text-align: left;
  width: 100%;
}

.read-only-data {
  text-align: left;
  margin-top: 1rem;
}

.data-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  background: $input-bg;
  padding: 0.625rem;
  border-radius: 0.3125rem;
}

.data-field label {
  color: $white;
  font-weight: 400;
  font-size: 0.875rem;
  margin-right: 1rem;
}

.data-field span {
  flex: 1;
  color: $white;
}

.icon-btn {
  background: transparent;
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.delete-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 0.625rem;
  background: transparent;
  border: 0.0625rem solid $btn-border;
  color: $white;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.3125rem;
  transition: all 0.3s ease;
}

.delete-btn:hover {
  background: $btn-hover-bg;
}