<div class="serveis-form-container">
    <div class="add-service-container">
        <h1>Nombre Empresa</h1>
        <h2>Formulario alta nuevo servicio</h2>
        <form>
            <div class="input-group">
                <label for="nombreServicio" class="form-label">Nombre del servicio:</label>
                <div class="input-control">
                    <input type="text" 
                        id="nombreServicio" 
                        [(ngModel)]="nombre" 
                        name="nombreServicio"
                        placeholder='Escribe el nombre' 
                        required 
                        [pattern]="'^(.*[A-Za-z].*){2,}$'"
                        #nombreModel="ngModel">
                    @if (nombreModel.invalid && (nombreModel.touched || nombreModel.dirty)) {
                    <div class="error">Error en nombre</div>
                    }
                </div>
                <label for="descripcionServicio" class="form-label">Descrición del servicio:</label>
                <div class="input-control">
                    <textarea 
                        id="descripcionServicio" 
                        [(ngModel)]="descripcion" 
                        name="descripcionServicio"
                        placeholder='Escribe una breve descripción' 
                        required rows="5"
                        [pattern]="'^(.*[A-Za-z].*){2,}$'"
                        #descripcionModel="ngModel"></textarea>
                    @if (descripcionModel.invalid && (descripcionModel.touched || descripcionModel.dirty)) {
                    <div class="error">Error descripción</div>
                    }
                </div>
                <label for="duracionServicio" class="form-label">Duración del servicio:</label>
                <div class="input-control">
                    <input 
                    type="text" 
                    id="duracionServicio"
                    [(ngModel)]="duracion"
                    name="duracionServicio" 
                    placeholder='minutos' 
                    required
                    [pattern]="'^\d+$'"
                    #duracionModel="ngModel">
                    @if (duracionModel.invalid && (duracionModel.touched || duracionModel.dirty)) {
                    <div class="error">Error duración</div>
                    }
                </div>
                <label for="precioServicio" class="form-label">Precio del servicio:</label>
                <div class="input-control">
                    <input 
                        type="number" 
                        step="any"
                        id="precioServicio"
                        [(ngModel)]="precio"
                        name="precioServicio" 
                        placeholder='€' 
                        required
                        #precioModel="ngModel">
                        @if (precioModel.invalid && (precioModel.touched || precioModel.dirty)) {
                        <div class="error">Error en precio</div>
                        }
                </div>
                <label for="horario" class="form-label">Horario de disponibilidad:</label>
                <div class="input-control">
                    <input 
                        type="text" 
                        id="horario" 
                        [(ngModel)]="horario"
                        name="horario" 
                        placeholder='Horario de disponibilidad' 
                        required
                        [pattern]="'^(?=.*[A-Za-z0-9].*){2,}$'"
                        #horarioModel="ngModel">
                        @if (horarioModel.invalid && (horarioModel.touched || horarioModel.dirty)) {
                            <div class="error">Error en horario</div>
                        }
                </div>
                <label for="limiteReserva" class="form-label">Cantidad máxima de reservas:</label>
                <div class="input-control">
                    <input 
                        type="number" 
                        id="limite" 
                        [(ngModel)]="limiteReservas"
                        name="limiteReserva" 
                        placeholder='Número límite de reservas'
                        required
                        [pattern]="'^[0-9]+$'"
                        #limiteReservasModel="ngModel">
                        @if (limiteReservasModel.invalid && (limiteReservasModel.touched || limiteReservasModel.dirty)) {
                            <div class="error">Error en horario</div>
                        }
                </div>
            </div>
        </form>
    </div>
</div>