header {
    background: linear-gradient(to bottom, #a3d4f2, #67b8e8);
    border-bottom: 2px solid #a3d4f2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estil de logo */

.logo img {
    height: 60px;
    width: 200px;
}

/* Estil icona login */
.login-icon {
    margin-right: 60px;
    color: #4141fa;
    transition: background-color 0.2s ease-in-out;
}

.login-icon:hover {
    cursor: pointer;
    color: #da4f8e;
}

/* Estils botó idiomes */
.lang-icon {
    margin-right: 10px;
}

.lang-btn {
    border: 3px solid white;
    transition: background-color 0.2s ease-in-out;
    width: 133px;
}

.lang-btn:hover {
    background-color: rgba(255, 255, 255, 0.25) !important;
    cursor: pointer;
}

.lang-btn.active {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.lang {
    margin: 0
}

.lang-btn-container {
    position: relative;
}

.lang-selector {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    z-index: 1000;
    width: 100%
}

.lang-selector div {
    transition: background-color 0.2s ease-in-out;
}

.lang-selector div:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

/* Estils menú hamburguesa */
.menu {
    display: none;
    list-style: none;
    border: 1px solid black;
    padding: 10px;
    position: absolute;
    top: 72px;  /* Ajusta la posición más abajo */
    left: 15px; /* Mueve el menú más a la derecha */
    background: white;
}

.menu li {
    border-bottom: 1px solid black;
    padding: 5px;
}

.menu li:last-child {
    border-bottom: none;
}

.hamburger {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
}

.bar {
    width: 100%;
    height: 3px;
    border: 1px solid black;
}