<ngx-spinner type = "pacman" size = "large"></ngx-spinner>

<section id="cookies-main">
    <h1 class="text-center">{{ 'cookies.main_title' | translate }}</h1>
    <h2>{{ 'cookies.main_subtitle' | translate }}</h2>
    
    <div class="text-section">
        <p>{{ 'cookies.p1' | translate }}</p>
        <p>{{ 'cookies.p2' | translate }}</p>
        <p>{{ 'cookies.p3' | translate }}</p>
        <p>{{ 'cookies.p4' | translate }}</p>
    </div>

    <div class="text-section">
        <h3>{{ 'cookies.subtitle_1' | translate }}</h3>
        <p>{{ 'cookies.p5' | translate }}</p>
    </div>

    <div class="text-section">
        <h3>{{ 'cookies.subtitle_2' | translate }}</h3>
        <p>{{ 'cookies.p6' | translate }}</p>
    </div>
</section>
