<div class="main-content" [class.loading-active]="!reservas.length && !errorMessage && !loading">
  <div class="content-container">
    <h2 class="text-center">{{ 'gestor-reserves.title' | translate }}</h2>

    @if (errorMessage) {
      <p class="error-message text-center">{{ errorMessage }}</p>
    }

    @if (reservas.length > 0) {
      <table class="table">
        <thead>
          <tr>
            <th>{{ 'gestor-reserves.id' | translate }}</th>
            <th>{{ 'gestor-reserves.date' | translate }}</th>
            <th>{{ 'gestor-reserves.hour' | translate }}</th>
            <th>{{ 'gestor-reserves.service' | translate }}</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (reserva of reservas; track reserva.idReserva) {
            <tr>
              <td>{{ reserva.idReserva }}</td>
              <td>{{ reserva.fechaReserva | date: 'dd-MM-yyyy' }}</td>
              <td>{{ reserva.hora }}</td>
              <td>{{ reserva.nombreServicio }}</td>
              <td>
                <i
                  class="fa-solid fa-calendar-days"
                  (click)="editarReserva(reserva)"
                  title="Canviar dia"
                ></i>
              </td>
              <td>
                <i
                  class="fa-solid fa-rectangle-xmark"
                  (click)="deleteReserva(reserva.idReserva)"
                  title="Cancelar reserva"
                ></i>
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else if (!errorMessage && !loading) {
      <p class="text-center">No tens reserves disponibles.</p>
    }
  </div>
</div>
