
@import '../../../colors.scss';

.main-content {
background: $bg-gradient;
}

.monthly-view {
  height: 100%;
  padding-bottom: 50px;
}

.calendar-container {
  max-width: 1000px; /* Aumentar el ancho máximo del contenedor */
  margin: 0 auto;
  opacity: 1;
  transition: opacity 0.3s ease; /* Transición suave para el desvanecimiento */
}

.calendar-container.hidden {
  opacity: 0;
  pointer-events: none; /* Deshabilitar la interacción mientras está oculto */
}

.calendar-content {
  display: flex;
  gap: 20px; /* Espacio entre el calendario y la leyenda */
  align-items: flex-start; /* Alinear la leyenda al inicio del calendario */
}

.calendar-header {
  display: flex;
  justify-content: space-between; /* Alinear las flechas y el título */
  align-items: center; /* Centrar verticalmente */
  margin-bottom: 20px;
  padding: 0 10px; /* Espaciado interno */
}

.calendar-title {
  font-size: 24px; /* Tamaño del texto del título */
  font-weight: bold;
  text-align: center;
  flex: 1; /* Ocupa el espacio restante entre las flechas */
}

button.auth-btn {
  display: block;
  margin: 20px auto;
  width: auto;
  padding: 0.625rem 1.25rem;
  background: transparent;
  border: 0.0625rem solid $btn-border;
  color: $white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.3125rem;
  transition: all 0.3s ease;
}

button.auth-btn:hover {
  background: $btn-hover-bg;
  color: $white;
}

.month-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columnas para los días de la semana */
  gap: 5px;
  flex: 3; /* El calendario ocupa más espacio */
}

.day-header {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.day-cell {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.day-cell:hover {
  transform: scale(1.05); /* Escalar ligeramente */
  background-color: #f0f8ff; /* Cambiar el color de fondo */
  cursor: pointer; /* Mostrar el cursor de mano */
}

.day-cell:active {
  transform: scale(0.95); /* Reducir ligeramente el tamaño */
  transition: transform 0.1s ease; /* Transición rápida */
}


.day-cell.disabled {
  visibility: hidden; /* Ocultar visualmente los días de otros meses */
  pointer-events: none; /* Deshabilitar la interacción con estos días */
}

.day-number {
  font-weight: bold;
  margin-bottom: 5px;
}

.service-bars {
  display: flex;
  flex-direction: column;
  gap: 2px; /* Espacio entre las barras */
}

.service-bar {
  height: 10px; /* Altura de cada barra */
  border-radius: 3px;
}

.legend, .nav-button {
  flex: 1; /* La leyenda ocupa menos espacio que el calendario */
  max-width: 250px; /* Limitar el ancho máximo de la leyenda */
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  background: $container-bg;
}

.nav-button {
  max-width: 50px!important;
  border: none!important;
}

.nav-button:hover {
  background: $btn-hover-bg;
  color: $white;
}

.legend h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legend li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.legend-icon, .reservation-service {
  color: #e0036691!important;
}

.legend-icon:hover, .reservation-service:hover {
  color: #4141fa!important;
}

.agenda-grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hour-row {
  display: flex;
  align-items: center;
}

.hour-label {
  width: 100px;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}

.hour-cell {
  flex: 1;
  border: 1px solid #ccc;
  padding: 5px;
  display: flex;
  flex-direction: column; /* Servicios apilados verticalmente */
  gap: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
  background: $container-bg;
}

.service-block {
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.reservas {
  margin-top: 5px;
  font-size: 12px;
  color: #000;
  background-color: #ffffffaf;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.reservas span {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.btn-primary {
    background-color: #007bff;
    color: white;
  }

  &.btn-secondary {
    background-color: #6c757d;
    color: white;
  }

  &:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
  }

  
}

.past-day {
  background-color:  #d6d6d6;/* Gris clar */
  
}

.past-day:hover {
  background-color: #e0e0e0; /* Canvi subtil en passar el ratolí */
}

.table-view {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.legend li {
  display: flex;
  align-items: center;
}

.legend li .btn-icon {
  margin-left: auto; /* Alinea el botó a la dreta */
}

.service-block {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  position: relative;
}

.service-header {
  display: flex; /* Activa Flexbox per alinear elements */
  justify-content: space-between; /* Col·loca el nom centrat i el botó a la dreta */
  align-items: center; /* Centra verticalment el contingut */
  text-align: center; /* Centra el text del nom del servei */
}

.no-reservas {
  display: block;
  font-size: 14px;
  color: #e0e0e0; /* Color gris per al text */
}
.reserva-item {
  display: flex; /* Activa Flexbox per alinear elements horitzontalment */
  justify-content: space-between; /* Col·loca el text a l'esquerra i el botó a la dreta */
  align-items: center; /* Centra verticalment el contingut */
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
}

.reserva-info {
  flex: 1; /* Permet que el text ocupi l'espai restant */
  margin-right: 10px; /* Espai entre el text i el botó */
  white-space: nowrap; /* Evita que el text es trenqui en múltiples línies */
  overflow: hidden; /* Oculta el text que excedeixi l'espai disponible */
  text-overflow: ellipsis; /* Afegeix punts suspensius si el text és massa llarg */
}

.btn-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon i {
  font-size: 16px;
  color: #333;
}

.edit-daily {
  color:#FFF!important;
}