<div class="main-content" [class.loading-active]="!serviceData">
    <div class="content-container">
        <div *ngIf="serviceData; else loading">

            <!-- Detalls del servei -->
            <div class="service-details">
                <h2 class="text-center">{{ 'editarReserva.title'}}</h2>
                <p class="text-center text-uppercase"><strong>{{ serviceData.nombre }}</strong></p>
            </div>

            <!-- Formulari de modificació de reserva -->
            <form [formGroup]="reservaForm" (ngSubmit)="onSubmit()">
                <div class="d-flex justify-content-between">
                    <!-- Calendari -->
                    <div class="calendar-container w-50 me-3">
                        <label for="fechaReserva" class="info-label">{{ 'editarReserva.daySelect'}}:</label>
                        <div class="calendar">
                            <div class="calendar-header">
                                <button type="button calendar-btn" (click)="prevMonth()">&#8592;</button>
                                <span>{{ currentMonth}} {{ currentYear }}</span>
                                <button type="button calendar-btn" (click)="nextMonth()">&#8594;</button>
                            </div>
                            <div class="calendar-grid">
                                <div *ngFor="let day of daysInMonth" [class.available]="day.isAvailable"
                                    [class.unavailable]="!day.isAvailable && day.date && !day.isPast"
                                    [class.past]="day.isPast" [class.selected]="isSelected(day.date)"
                                    [class.empty]="!day.date" (click)="selectDate(day)">
                                    {{ day.date?.getDate() }}
                                </div>
                            </div>
                        </div>
                        <p *ngIf="!isLaborableDay" class="error-message">
                            {{ 'editarReserva.nonLaborableDay'}}
                        </p>
                    </div>

                    <!-- Selector d'horari -->
                    <div class="hora-container w-50 ms-3">
                        <label for="hora" class="info-label">{{ 'editarReserva.hourSelect'}}:</label>
                        <select id="hora" formControlName="hora" class="form-select">
                            <option *ngFor="let hour of availableHours" [value]="hour">{{ hour }}</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-3 auth-btn">{{ 'editarReserva.save'}}</button>
            </form>
        </div>
    </div>

    <ng-template #loading>
        <div class="loading-container">
            <p>{{ 'Loading...' }}</p>
        </div>
    </ng-template>
</div>