<div class="main-content" [class.loading-active]="!serviceData">
  @if (serviceData) {
    <div class="content-container">
      <div class="service-details">
        <h2 class="text-center">{{ 'editar-reserva.title' | translate }}</h2>
        <p class="text-center text-uppercase">
          <strong>{{ serviceData.nombre }}</strong>
        </p>
      </div>

      <form [formGroup]="reservaForm" (ngSubmit)="onSubmit()">
        <div class="d-flex justify-content-between">
          <div class="calendar-container w-50 me-3">
            <label class="info-label">
              {{ 'editar-reserva.daySelect' | translate }}:
            </label>
            <div class="calendar">
              <div class="calendar-header">
                <button type="button" (click)="prevMonth()">&#8592;</button>
                <span>{{ currentMonthName | translate }} {{ currentYear }}</span>
                <button type="button" (click)="nextMonth()">&#8594;</button>
              </div>
              <div class="calendar-grid">
                @for (day of daysInMonth; track day.date) {
                  <div
                    [class.available]="day.isAvailable"
                    [class.unavailable]="!day.isAvailable && day.date && !day.isPast"
                    [class.past]="day.isPast"
                    [class.selected]="isSelected(day.date)"
                    [class.empty]="!day.date"
                    (click)="selectDate(day)"
                  >
                    {{ day.date?.getDate() }}
                  </div>
                }
              </div>
            </div>
            @if (!isLaborableDay) {
              <p class="error-message">
                {{ 'editar-reserva.nonLaborableDay' | translate }}
              </p>
            }
          </div>

          <div class="hora-container w-50 ms-3">
            <label class="info-label">
              {{ 'editar-reserva.hourSelect' | translate }}:
            </label>
            <select id="hora" formControlName="hora" class="form-select">
              @for (hour of availableHours; track hour) {
                <option [value]="hour">{{ hour }}</option>
              }
            </select>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary mt-3 auth-btn"
        >
          {{ 'editar-reserva.save' | translate }}
        </button>
      </form>
    </div>
  } @else {
    <div class="loading-container">
      <p>{{ 'Loading...' }}</p>
    </div>
  }
</div>
