<header class="col-12 p-3 d-flex justify-content-between align-items-center">

    <!-- Logo -->
    <div class="logo col-6 d-flex">
        <img class="rounded-4" src="../images/SomPoble.png" alt="Logo">
    </div>
    <div class="d-flex align-items-center col-6 justify-content-end">
        <!-- Si está logueado y es tipoUsuario 1, mostrar "Particular" -->
        <span *ngIf="isLoggedIn && tipoUsuario === 1" class="particular-label">Particular</span>

        <!-- Si NO hay sesión, muestra el icono de login -->
        <a *ngIf="!isLoggedIn" routerLink="/login" title="Login">
            <i class="fa-solid fa-right-to-bracket login-icon fs-1"></i>
        </a>

        <!-- Si hay sesión, muestra el icono de logout -->
        <a *ngIf="isLoggedIn" (click)="logout()" title="Logout">
            <i class="fa-regular fa-circle-xmark fs-1"></i>
        </a>
        <div class="d-flex flex-column lang-btn-container">
            <div class="d-flex lang-btn align-items-center py-2 px-4 rounded-5">
                <i class="fa-solid fa-globe lang-icon fs-5 "></i>
                <p class="lang text-uppercase ps-1">{{ language }}</p>
                <i class="fa-solid fa-check fs-6 ps-1"></i>
            </div>
            <div
                class=" bg-white bg-opacity-25 lang-selector d-none d-flex flex-column align-items-center rounded-5 py-3">
                <div class="w-100 rounded-5 text-center py-2 lang-es" id="lang-es">Castellano</div>
                <span class="w-100 border-bottom border-secondary"></span>
                <div class=" w-100 rounded-5 text-center py-2 lang-cat" id="lang-cat">Català</div>
            </div>
        </div>
    </div>
</header>