header {
    background: linear-gradient(to bottom, #a3d4f2, #67b8e8);
    border-bottom: 2px solid #a3d4f2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estil de logo */

.logo img {
    height: 60px;
    width: 200px;
}

/* Estil icona login */
.login-icon, .logout-icon {
    color: #4141fa;
    transition: background-color 0.2s ease-in-out;
}

.login-icon:hover, .logout-icon:hover {
    cursor: pointer;
    color: #da4f8e;
}

.user-label {
    padding-right: 20px;
    color:white;
    font-size: 20px;
    font-weight: 500;
}

/* Estils botó idiomes */
.lang-icon {
    margin-right: 10px;
}

.lang-btn {
    border: 3px solid white;
    transition: background-color 0.2s ease-in-out;
    width: 133px;
}

.lang-btn:hover {
    background-color: rgba(255, 255, 255, 0.25) !important;
    cursor: pointer;
}

.lang-btn.active {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.lang {
    margin: 0
}

.lang-btn-container {
    position: relative;
}

.lang-selector {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    z-index: 1000;
    width: 100%
}

.lang-selector div {
    transition: background-color 0.2s ease-in-out;
}

.lang-selector div:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

/* Tablets i phablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    //es visualitza correctament, no es contemplen canvis
}

/* Telèfons */
@media only screen and (max-width: 575px) {

}