@import '../../../../colors';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: $bg-gradient;
  border-bottom: 5px solid #67b8e8;
  box-sizing: border-box;
}

.logo img {
  height: 60px;
  width: 200px;
  cursor: pointer;
}


.main-menu {
  flex: 1;
  margin: 0 1rem;
}

.main-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
}

.main-menu li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: $white !important;
  text-decoration: none !important;
  background-color: transparent;
  transition: color 0.25s;
}

.main-menu a:hover {
  color: #000 !important;
  background-color: transparent !important;
  cursor: pointer;
}

.main-menu li:first-child a {
  border-radius: 2px 0 0 2px;
}

.main-menu li:last-child a {
  border-radius: 0 2px 2px 0;
}


.login-icon,
.logout-icon {
  color: $white;
  transition: background-color 0.2s ease-in-out;
  margin-right: 20px;
}

.login-icon:hover,
.logout-icon:hover {
  cursor: pointer;
  color: $error-color;
}

.user-label {
  padding-right: 20px;
  color: $label-color;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.user-label:hover {
  text-decoration: underline;
}

.lang-icon {
  margin-right: 10px;
  color: $white;
}

.lang-btn {
  border: 3px solid $btn-border;
  transition: background-color 0.2s ease-in-out;
  width: 133px;
}

.lang-btn:hover {
  background-color: $btn-hover-bg !important;
  cursor: pointer;
}

.lang {
  margin: 0;
  color: $white;
}

.lang-btn-container {
  position: relative;
}

.lang-selector {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  z-index: 1000;
  width: 100%;
}

.lang-selector div {
  transition: background-color 0.2s ease-in-out;
}

.lang-selector div:hover {
  background-color: $btn-hover-bg;
  cursor: pointer;
}

.hamburguer-menu {
  border: 3px solid $btn-border;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  cursor: pointer;
}

.hamburguer-menu:hover {
  background-color: $btn-hover-bg !important;
}

.menu-wrapper {
  position: relative;
  display: none;
}

.menu-container {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 180px;
  background: $container-bg;
  box-shadow: 0 4px 6px rgba($white, 0.2);
  border-radius: 5px;
  z-index: 1000;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #ddd;
  padding: 0.5rem 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 180px;
  width: auto!important;
  white-space: nowrap;
}

.dropdown-menu .dropdown-item {
  list-style: none;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.dropdown-menu .dropdown-item a {
  text-decoration: none;
  color: $white;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.dropdown-menu .dropdown-item a:hover {
  background-color: $btn-hover-bg;
  color: #000;
}

.main-menu-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: $white !important;
  text-decoration: none !important;
  background-color: transparent;
  transition: color 0.25s, background-color 0.25s;
  cursor: pointer;
}

.main-menu-item:hover {
  color: #000 !important;
  background-color: transparent !important;
}

.dropdown-menu li a {
  list-style: none;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  text-align: left;
}

@media only screen and (max-width: 575px) {
  .main-menu {
    display: none !important;
  }
  .header-container {
    flex-direction: column;
    align-items: stretch;
    position: relative;
  }
  .logo {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .lang-btn-container {
    position: absolute;
    right: 10px;
    top: 17px;
  }
  .right-content {
    width: 100%;
    margin-top: 65px;
    padding: 0 10px;
    justify-content: space-between;
  }
  .menu-wrapper {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
  }
  .hamburguer-menu {
    left: 10px;
  }
}
