@import '../../../../colors.scss';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $bg-gradient;
  color: $white;
}

.main-content {
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-detail-container {
  background-color: $container-bg;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  margin-bottom: 1.5rem;
  white-space: normal;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $white;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;
    width: 100%;

    li {
      margin: 0.5rem 0;
      font-size: 1rem;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.auth-btn {
  width: auto;
  padding: 0.625rem 1.25rem;
  background: transparent;
  border: 0.0625rem solid $btn-border;
  color: $white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.3125rem;
  transition: all 0.3s ease;
}

.auth-btn:hover {
  background: $btn-hover-bg;
  color: $white;
}

/* Tablets i phablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main-content {
    display: block;
    width: 100%;
    padding: 1rem;
  }
}

/* Telèfons */
@media only screen and (max-width: 575px) {
  .service-detail-container {
    max-width: 100vw;
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;
    box-sizing: border-box;
    overflow: visible;
  }

  .main-content {
    display: block;
    width: 100%;
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem!important;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.2rem!important;
    margin-bottom: 0.5rem;
  }

  ul li {
    font-size: 0.9rem;
    margin: 0.3rem 0;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .button-container {
    margin-top: 1rem;
  }

  .auth-btn {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}