<ngx-spinner></ngx-spinner>

<section id="legalnotice-main">
    <h1 class="text-center">{{ 'legal-notice.main_title' | translate }}</h1>
    <h2>{{ 'legal-notice.main_subtitle' | translate }}</h2>
    <div class="text-section">
        <h3 class="text-uppercase">{{ 'legal-notice.section1' | translate }}</h3>
        <p>{{ 'legal-notice.p1' | translate }}</p>
        <p>{{ 'legal-notice.p2' | translate }}</p>
    </div>
    <div class="text-section">
        <h3 class="text-uppercase">{{ 'legal-notice.section2' | translate }}</h3>
        <h4>{{ 'legal-notice.subtitle1' | translate }}</h4>
        <p>{{ 'legal-notice.p3' | translate }}</p>
        <p>{{ 'legal-notice.p4' | translate }}</p>
        <p>{{ 'legal-notice.p5' | translate }}</p>
        <p>{{ 'legal-notice.p6' | translate }}</p>
        <h4>{{ 'legal-notice.subtitle2' | translate }}</h4>
        <p>{{ 'legal-notice.p7' | translate }}</p>
        <p>{{ 'legal-notice.p8' | translate }}</p>
        <ul>
            <li>{{ 'legal-notice.li1' | translate }}</li>
            <li>{{ 'legal-notice.li2' | translate }}</li>
        </ul>
        <p>{{ 'legal-notice.p9' | translate }}</p>
        <p>{{ 'legal-notice.p10' | translate }}</p>
        <p>{{ 'legal-notice.p11' | translate }}</p>
        <p>{{ 'legal-notice.p12' | translate }}</p>
        <p>{{ 'legal-notice.p13' | translate }}</p>
    </div>
    <div class="text-section">
        <h3 class="text-uppercase">{{ 'legal-notice.section3' | translate }}</h3>
        <p>{{ 'legal-notice.p14' | translate }}</p>
        <p>{{ 'legal-notice.p15' | translate }}</p>
        <p>{{ 'legal-notice.p16' | translate }}</p>
    </div>
    <div class="text-section">
        <h3 class="text-uppercase">{{ 'legal-notice.section4' | translate }}</h3>
        <p>{{ 'legal-notice.p17' | translate }}</p>
        <p>{{ 'legal-notice.p18' | translate }}</p>
        <p>{{ 'legal-notice.p19' | translate }}</p>
        <p>{{ 'legal-notice.p20' | translate }}</p>
        <p>{{ 'legal-notice.p21' | translate }}</p>
        <p>{{ 'legal-notice.p22' | translate }}</p>
        <p>{{ 'legal-notice.p23' | translate }}</p>
        <p>{{ 'legal-notice.p24' | translate }}</p>
        <p>{{ 'legal-notice.p25' | translate }}</p>
        <p>{{ 'legal-notice.p26' | translate }}</p>
        <p>{{ 'legal-notice.p27' | translate }}</p>
    </div>
    <div class="text-section">
        <h3 class="text-uppercase">{{ 'legal-notice.section5' | translate }}</h3>
        <p>{{ 'legal-notice.p28' | translate }}</p>
        <p>{{ 'legal-notice.p29' | translate }}</p>
        <p>{{ 'legal-notice.p30' | translate }}</p>
        <p>{{ 'legal-notice.p31' | translate }}</p>
    </div>
    <div class="text-section">
        <h3 class="text-uppercase">{{ 'legal-notice.section6' | translate }}</h3>
        <p>{{ 'legal-notice.p32' | translate }}</p>
        <p>{{ 'legal-notice.p33' | translate }}</p>
    </div>
</section>