<div class="show-services-container">
  <app-search (searchChanged)="filterServices($event)"></app-search>

  <h1>{{ 'showServices.title' | translate }}</h1>

  @if (services$ | async; as services) {
    @if (services.length > 0) {
      <div class="services-grid">
        @for (service of services; track service.nombre) {
          <div class="service-card" (click)="onSelectService(service)">
            <h2>{{ service.nombre }}</h2>
            <p>{{ service.descripcion }}</p>
            <ul>
              <li>
                <strong>{{ 'showServices.duration' | translate }}:</strong>
                {{ service.duracion }} {{ 'showServices.minutes' | translate }}
              </li>
              <li>
                <strong>{{ 'showServices.price' | translate }}:</strong>
                {{ service.precio }} €
              </li>
              <li>
                <strong>{{ 'serviceDetail.availability' | translate }}:</strong>
                {{ formatDays(service.diasLaborables) }}
              </li>
              <li>
                <strong>{{ 'serviceDetail.schedule' | translate }}:</strong>
                {{ formatHours(service.horarioInicio, service.horarioFin) }}
              </li>
            </ul>
          </div>
        }
      </div>
    } @else {
      <p>{{ 'showServices.noServices' | translate }}</p>
    }
  }
</div>
