<div class="notfound-component">
    <div class="top-section">
        <h1 class="error-code text-center">404</h1>
    </div>
    <div class="container">
        <div class="ghost-copy">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
        </div>
        <div class="ghost">
            <div class="face">
                <div class="eye"></div>
                <div class="eye-right"></div>
                <div class="mouth"></div>
            </div>
        </div>
        <div class="shadow"></div>
    </div>
    <div class="bottom">
        <p class="error-msg text-uppercase text-center">{{ 'notfound-page.msg' | translate}}</p>
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-light btn-lg back-btn" routerLink="/landing">{{ 'notfound-page.btn' | translate}} </button>
        </div>
    </div>
</div>