
//login - register
$bg-gradient: linear-gradient(to bottom, #67b8e8, #905f99);
$container-bg: rgba(255, 255, 255, 0.1);
$input-bg: rgba(255, 255, 255, 0.2);
$white: #ffffff;
$label-color: #ffffff;
$placeholder-color: rgba(255, 255, 255, 0.6);
$fa-eye-color: black;
$fa-eye-slash-color: #ff0000;
$btn-border: #ffffff;
$btn-hover-bg: rgba(255, 255, 255, 0.2);
$error-color: #ff0000;
